.gallery-preview__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 270px;
}

.gallery-preview__image-container {
  height: 260px;
  width: 307px;
  margin: 5px;
}

.gallery-preview__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}

.gallery-preview__icon {
  vertical-align: middle;
  margin-right: 16px;
}

.gallery-preview__title-container {
  margin-top: 56px;
  margin-bottom: 16px;
}

.gallery-preview__gallery-name {
  font-weight: 700;
  size: 18px;
}

.gallery-preview__gallery-title-separator {
  size: 16px;
  margin: 0 16px;
}

.gallery-preview__top-bar {
  display: flex;
  justify-content: space-between;
}

.gallery-preview__show-all-container {
  margin-top: 56px;
  margin-bottom: 16px;
}

.gallery-preview__show-all-link {
  color: #A4D0CB;
  font-weight: 400;
  text-decoration: none;
}

.gallery-preview__show-all-link img {
  margin-left: 12px;
  vertical-align: middle;
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.gallery__image-container {
  height: 260px;
  width: 307px;
  margin: 15px;
}

.gallery__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}

.gallery-top-bar__go-back-link {
  margin-right: 20px;
  margin-left: 15px;
  vertical-align: middle;
}